{% extends 'partials/base.html' %}
{% load static %}
{% block content %}

<p>start-------------------------------------------------------------</p>
<main>
    <div>
        <div>
            <div>
                <section>
                    <div>
                        <div>
                            <div>
                                <div>
                                    <h1>

                                    </h1>
                                    <p></p>
                                    <form>
                                        <input type="email" placeholder="Your ">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</main>

<!-- menu-list-->
<li class="menu-item-has-children">
    <a href="#">Technology</a>
    <ul class="dropdown">
        <li><a href="shop-product-right.html">Gaming Laptops</a></li>
        <li><a href="shop-product-right.html">Ultraslim laptops</a></li>
        <li><a href="shop-product-right.html">Tablets</a></li>
        <li><a href="shop-product-right.html">Laptop Accessories</a></li>
        <li><a href="shop-product-right.html">Tablets Accessories</a></li>
    </ul>
</li>
</ul>
</li>
<li class="menu-item-has-children"></li>
<a href="bllog-category-fullwidth.html">Blog</a>
<ul class="dropdown">
    <li><a href="blog-category-grid.html">Blog Category Grid</a></li>
    <li><a href="blog-category-list.html">Blog Category List</a></li>
    <li><a href="blog-category-fullwidth.html">Blog Category width</a></li>
    <li><a href="blog-category-big.html">Blog Category wide</a></li>
    <li class="menu-item-has-children">
        <a href="#">single product layout</a>
        <ul class="dropdown">
            <li><a href="blog-category-grid.html">Blog category Gride</a></li>
            <li><a href="blog-category-list.html">Blog category list</a></li>
            <li><a href="blog-category-big.html">Blog category big</a></li>
            <li><a href="blog-category-fullwidth.html">Blog category wide</a></li>
            <li class="menu-item-has-children">
        </ul>
        <!--end product cart-->
        <div class="col-lg-1-5 col-md-4 col-12 col-sm-6">
            <div class="product-card-wap mb-30">
                <div class="product-img-action-wrap">
                    <div class="product-img product-img-zoom">
                        <a href="shop-product-write.html">
                            <img class="default-img" src="" alt="" />
                            <img class="hover-img" src="" alt="" />
                        </a>
                    </div>
                    <div class="product-action-1">
                        <a aria-label="Add to Wishlist" class="action-btn" href="shop-wishlist"></a>
                        <a aria-label="compare" class="action-btn" href="shop-compare.html"></a>
                        <a aria-label="Quick view" class="action" data-bse-toggle="modal"></a>
                    </div>
                </div>
                <div class="product-content-wrap">
                    <div class="product-category">
                        <a href="shop-grid-right.html">vegetables</a>ssdsfd
                    </div>
                    <h2><a href="shop-product-right.html">Foster Farms Takeout Crispy Classic</a></h2>
                    <div class="product-rate-cover">
                        <div class="product-rate d-inline-block">
                            <div class="product-rating" style="width: 90%"></div>
                        </div>
                        <span class="font-small ml-5 text-mjuted"> (4.0)</span>
                    </div>
                    <div class="product-price">
                        <span>$32.85</span>
                        <span class="o    ld-price">33.8</span>
                    </div>
                </div>
                </article>
                <!-- end product cart -->
                <div class="col-lg-1-5 col-md-4 col-12 col-sm-6">
                    <div class="product-card-wap mb-30">
                        <div class="product-img-action-wrap">
                            <div class="product-img product-img-zoom">
                                <a href="shop-product-write.html">
                                    <img class="default-img" src="" alt="" />
                                    <img class="hover-img" src="" alt="" />
                                </a>
                            </div>
                            <div class="product-action-1">
                                <a aria-label="Add to Wishlist" class="action-btn" href="shop-wishlist"></a>
                                <a aria-label="compare" class="action-btn" href="shop-compare.html"></a>
                                <a aria-label="Quick view" class="action" data-bse-toggle="modal"></a>
                            </div>
                        </div>
                        <div class="product-content-wrap">
                            <div class="product-category">
                                <a href="shop-grid-right.html">Hodo Foods</a>ssdsfd
                            </div>
                            <h2><a href="shop-product-right.html">Chobani Complete Vanilla Greek Yogur</a>
                            </h2>
                            <div class="product-rate-cover">

                                <div class="product-rate d-inline-block">
                                    <div class="product-rating" style="width: 90%"></div>
                                </div>
                                <span class="font-small text-muted"> (4.0) </span>
                            </div>
                            <div>
                                <span class="font-small text-muted">By <a href="vendor-details-1.html"></a>
                                </span>
                            </div>
                            <div class="product-card-bottom">
                                <div class="product-price">
                                    <span>$23.85</span>
                                    <span class="old-price">$25.8</span>
                                </div>
                                <div class="add-cart">
                                    <a class="add" href="shop-cart.html"><i class="fi-rs-shopping-cart"></i></a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!--End product cart-->
                <div class="col-lg-1-5 col-md-4 col-12 col-sm-6">
                    <div class="product-card-wap mb-30">
                        <div class="product-img-action-wrap">
                            <div class="product-img product-img-zoom">
                                <a href="shop-product-write.html">
                                    <img class="default-img" src="" alt="" />
                                    <img class="hover-img" src="" alt="" />
                                </a>
                            </div>
                            <div class="product-action-1">
                                <a aria-label="Add to Wishlist" class="action-btn" href="shop-wishlist"></a>
                                <a aria-label="compare" class="action-btn" href="shop-compare.html"></a>
                                <a aria-label="Quick view" class="action" data-bse-toggle="modal"></a>
                            </div>
                        </div>
                        <div class="product-content-wrap">
                            <div class="product-category">
                                <a href="shop-grid-right.html">Hodo Foods</a>ssdsfd
                            </div>
                            <h2><a href="shop-product-right.html">Chobani Complete Vanilla Greek Yogur</a>
                            </h2>
                            <div class="product-rate-cover">
                                <div class="product-rate d-inline-block">
                                    <div class="product-rating" style="width: 90%"></div>
                                </div>
                                <span class="font-small ml-5 text-mjuted"> (4.0)</span>
                            </div>
                            <div class="product-price">
                                <span>$32.85</span>
                                <span class="old-price">33.8</span>
                            </div>
                        </div>
                        </article>
                        <article class="row align-items-center hover-up">
                            <figure class="col-md-4 mb-0">
                                <a href="shop-product-right.html"><img src="" alt="" /></a>
                            </figure>
                            <div class="col-md-8 mb-0">
                                <h6><a href="shop-product-right.html">Naturally flavoured cinnamon Vanilla
                                        Light Roast</a></h6>
                                <div class="product-rate-cover">
                                    <div class="product-rate d-inline-block">
                                        <div class="product-rating" style="width: 90%"></div>
                                    </div>
                                    <span class="font-small ml-5 text-muted"> (4.0) </span>
                                </div>
                                <div class="product-price">
                                    <span>$32.85</span>
                                    <span class="old-price">33.8</span>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
                <!--footer-start-->
                <h4 class="widget-title">Popular</h4>
                <ul class="footer-list mb-sm-5 mb-md-0">
                    <li><a href="">Milk and flavoured Milk</a></li>
                    <li><a href="">BUtter and Margarine</a></li>
                    <li><a href="">Eggs Substitutes</a></li>
                    <li><a href="">Marmalades</a></li>
                    <li><a href="">sourcream and dips</a></li>
                    <li><a href="">Tea & Kombucha</a></li>
                    <li><a href="">Cheese</a></li>
                </ul>
            </div>
            <div class="footer-link-widget widget-install-app col">
                <h4 class="widget-title">install-app</h4>
                <p class="wow fadeIn animated">From app store or google store</p>
                <div class="downlaod-app">
                    <a href="#" class="hoverup- mb-sm-2 mb-lb-0"><img class="active" src="" alt=""></a>
                    <a href="#" class="hoverup- mb-sm-2 "><img src="" alt=""></a>
                </div>
                <p class="mb-20">Secured payment gateways</p>
                <img class="wow fadedIn animated" src="" alt="" />
            </div>
        </div>
        </div>
        </section>
        <div class="container pb-30">
            <div class="col-12 nb-30">
                <div class="footer-bottom"></div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                <p class="font-sm mb-0">&copy; 2022, <strong class="text-brand">NEST</strong> -HTML
                    ecommerce template</p>
            </div>
            <div class="col-xl-4 col-lg-6 text-center d-none d-xl-block">
                <div class="hotline d-lg-inline-flex mr-30">
                    <img src="" alt="hotline" />
                    <p> 1900 - 6666<span>working 8:00 - 22:00</span></p>
                </div>
                <div class="hotline d-lg-inline-flex">
                    <img src="" alt="hotline" />
                    <p>1900 - 8888<span>24/7 Support Center</span></p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6 text-end d-none d-md-block">
                <div class="mobil-social -icon">
                    <h6> FOLLOW US </h6>
                    <a href="#"><img src="" alt="" /></a>
                    <a href="#"><img src="" alt="" /></a>
                    <a href="#"><img src="" alt="" /></a>
                    <a href="#"><img src="" alt="" /></a>
                    <a href="#"><img src="" alt="" /></a>
                </div>
                <p class="font-sm"> Up to 15% discount on your first subscribe</p>
            </div>
            <p>end-------------------------------------------------------------</p>