{% block content %}
<h1>Product List</h1>


<div class="row">
    {% for p in front_product %}

    <div class="col-12 col-sm-6 col-md-4 col-lg-3   ">
        <div class="product-card-wap mb-3">
            <div class="product-img-action-wrap">
                <div class="product-img product-img-zoom">
                    <a href="shop-product-right.html">
                        <img class="img-fluid default-img" src="{{p.image.url}}" alt="" />
                        <img class="img-fluid hover-img" src="{{p.image.url}}" alt="" />
                    </a>
                </div>
                <div class="product-action-1">
                    <a aria-label="Add to Wishlist" class="action-btn" href="shop-wishlist.html"></a>
                    <a aria-label="Compare" class="action-btn" href="shop-compare.html"></a>
                    <a aria-label="Quick view" class="action" data-bs-toggle="modal"></a>
                </div>
            </div>
            {% if p.is_new %}

            <div class="product-badges product-badges-position product-badges-mrg">
                <span class="hot">-{{p.get_Percentage|floatformat:0}}%</span>
                {% endif %}
            </div>

            <div class="product-content-wrap">

                <div class="product-category">
                    <a href="{% url 'core:category-list' %}">{{ p.category.title }}</a>
                </div>

                <h2><a href="{% url 'core:product-list' %}">{{ p.title }}</a></h2>

                <div class="product-rate-cover">
                    <div class="product-rate d-inline-block">
                        <div class="product-rating" style="width: 90%"></div>
                    </div>
                    <span class="font-small ml-5 text-muted">{{ p.rating }}</span>
                </div>

                <div>
                    <span class="font-small text-muted">By <a
                            href="{% url 'core:vendor-list' %}">{{p.vendor.title}}</a></span>
                </div>

                <div class="product-price">
                    <span>${{ p.price }}</span>
                    {% if p.old_price %}
                    <span class="old-price">${{ p.old_price }}</span>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

</div>

{% endblock %}